body {
  background-image: url("/images/bg.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

.hero {
  background: linear-gradient(45deg, #050130ce, #c40c5975);
  margin-top: 550px;
  margin-left: 60px;
  margin-right: 60px;
  padding: 20px;
  border-radius: 30px;
}
h1,
h2 {
  color: rgba(255, 255, 255, 0.918);
  text-align: center;
  font-family: monospace;
}
h1 {
  font-size: 70px;
}
h2 {
  font-size: 25px;
}
