body {
  background-color: rgb(243, 243, 243);
}
.banner-area {
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(/images/bg.jpeg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
}

.content-area {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  text-align: center;
}

.content h1,
h2 {
  color: white;
}

.content h1 {
  font-size: 100px;
  line-height: 1.5;
}

.content h2 {
  font-family: monospace;
}

#my-work {
  margin-top: 100px;
  display: inline-block;
  padding: 10px 20px;
  color: white;
  border: 1px solid white;
  border-radius: 3px;
  font-weight: 700;
  line-height: normal;
  text-decoration: none;
  text-align: center;
}

.sections {
  margin: 150px 20px;
}
.container {
  margin-top: 100px;
}
.project-description {
  padding: 0px;
  border: 7px solid black;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.267);
  background-color: white;
}

.project-description h3,
p {
  text-align: center;
}

h3 {
  line-height: 3;
  font-family: monospace;
}

.box {
  display: flex;
  justify-content: space-evenly;
}
.logo {
  max-width: 70px;
}

img.app {
  max-width: 70%;
  border-radius: 50%;
  border: px solid black;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.219);
  display: block;
  margin: 0 auto;
}

footer {
  text-align: center;
  margin: 30px;
}
