body {
  background-color: rgb(243, 243, 243);
}
.banner-area {
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(/images/bg.jpeg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
}

.content-area {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  text-align: center;
}

.home-title {
  font-size: 96px;
  line-height: 1.5;
  color: white;
  text-align: center;
  line-height: 2;
  font-family: "Playfair Display", serif;
}

.home-subtitle {
  font-family: monospace;
  color: white;
}

#my-work {
  margin: 100px 10px;
  display: inline-block;
  padding: 10px 20px;
  color: white;
  border: 1px solid white;
  border-radius: 3px;
  font-weight: 700;
  line-height: normal;
  text-decoration: none;
  text-align: center;
}

#my-work:hover {
  color: rgba(182, 172, 172, 0.795);
}
.sections {
  margin: 50px 20px;
}

.project-description {
  padding: 10px;
  border: 7px solid black;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.267);
  background-color: white;
}

.project-description h3,
p {
  text-align: center;
}

h3 {
  margin: 30px;
  font-family: monospace;
}

h1#projects {
  font-family: "Playfair Display", serif;
  text-align: center;
  line-height: 3;
}

.box {
  display: flex;
  justify-content: space-evenly;
}
.logo {
  max-width: 70px;
}

img.app {
  max-width: 70%;
  border-radius: 50%;
  border: none;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.219);
  display: block;
  margin: 0 auto;
  transition: transform 0.2s;
}

.app:hover {
  transform: scale(1.1);
}

footer {
  text-align: center;
  margin: 60px;
}

.about-me-intro {
  font-family: "Playfair Display", serif;
}
.about-me-text {
  text-align: center;
}
.image-of-me {
  display: flex;
  justify-content: center;
}
.me {
  max-width: 400px;
  border-radius: 50%;
}

.about-description {
  padding: 20px;
  border: 7px solid black;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.267);
  background-color: white;
}

.my-work-button {
  display: inline-block;
  padding: 10px 20px;
  margin: 0px 10px;
  color: black;
  border: 3px solid black;
  border-radius: 3px;
  font-weight: 700;
  line-height: normal;
  text-decoration: none;
  text-align: center;
}

.my-work-button:hover {
  color: rgba(48, 47, 47, 0.795);
}

a.back-home {
  display: block;
  text-align: center;
  margin: 0 auto;
}

.contact-container {
  padding: 20px;
  border: 7px solid black;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.267);
  background-color: rgba(255, 255, 255, 0.76);
  max-width: 600px;
}

.link {
  color: black;
}

.link:hover {
  color: rgba(48, 47, 47, 0.795);
}

@media (max-width: 992px) {
  img.logo {
    max-width: 40px;
  }
}

@media (max-width: 768px) {
  .content h1 {
    font-size: 48px;
  }
  .content h2 {
    font-size: 23px;
  }

  h1#projects {
    font-size: 48px;
  }
  img.app {
    display: none;
  }
  img.logo {
    max-width: 30px;
  }

  footer {
    font-size: 12px;
  }

  #my-work {
    margin: 50px 5px;
    font-size: 12px;

    padding: 5px 10px;
  }

  .my-work-button {
    font-size: 12px;
    padding: 5px 10px;
    margin: 0px 5px;
  }
  .sections {
    margin: 20px 0px;
    padding: 0px;
  }
}
